.custom-navbar {
    width: 100%;
    z-index: 3;
  }
  
  .custom-container {
    position: absolute;
    width: 100%;
    top: 64px;
    bottom: 0px;
  }
    
  .custom-footer {
    z-index: 3;
    width: 100%;
  }